.App {
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-icon {
  font-size: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.content-container {
  margin: 24px 16px;
  padding: 24;
  min-height: 280;
}

.card {
  width: 50vw;
  max-height: 90vh;
  background-color: #fff;
  padding: 10px;
}
.home-calendar {
  width: 30vw;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
